[mysqld]
log_bin                     = mysql-bin
binlog_format               = ROW
gtid_mode                   = ON
enforce-gtid-consistency    = true
server-id                   = 10
log_slave_updates
datadir                     = /var/lib/mysql
socket                      = /var/lib/mysql/mysql.sock

# innodb
innodb_buffer_pool_size = 128MB

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links              = 0

log-error                   = /var/log/mysql/mysqld.log
pid-file                    = /var/run/mysqld/mysqld.pid

report_host                 = mysql-01

# character
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Slow Query
slow_query_log              = 1
slow_query_log_file         = /var/log/mysql/mysql-slow.log
long_query_time             = 1
#log_slow_rate_limit         = 1
#log_slow_verbosity          = query_plan
log_slow_admin_statements

[mysqld_safe]
pid-file                    = /var/run/mysqld/mysqld.pid
socket                      = /var/lib/mysql/mysql.sock
nice                        = 0

#[client]
#socket                      = /var/lib/mysql/mysql.sock
